<app-navbar></app-navbar>
<section class="container-fluid ruit wow animated slideInUp">
  <div class="col-sm-12">
      <h1 class="trendhead wow animated zoomIn">
          Trending Musics.
      </h1>
  </div>
  <div class="col-sm-9 wow animated slideInLeft" style="overflow: hidden;">
      <div class="musictrend wow animated slideInUp" style="overflow: hidden;">
          <i class="fa fa-headphones"></i>
          <span class="listmu">In the End
              <br>2014
              <br>Album Name</span>
      </div>
      <div class="musictrend wow animated slideInUp" style="overflow: hidden;">
          <i class="fa fa-headphones"></i>
          <span class="listmu">In the End
              <br>2014
              <br>Album Name</span>
      </div>
      <div class="musictrend wow animated slideInUp" style="overflow: hidden;">
          <i class="fa fa-headphones"></i>
          <span class="listmu">In the End
              <br>2014
              <br>Album Name</span>
      </div>
  </div>
</section>