<app-navbar></app-navbar>
<div class="container-fluid bg wow animated slideInUp" style="overflow: hidden;">
  <div class="content">
      <h1 style="font-family: 'Horizon',sans-serif;padding-left: 80px;margin-top:7%;color:white;overflow: hidden;font-size: 70px;" class="wow animated slideInRight">Zyrix Music</h1><br><br>
  </div>
  <div class="col-sm-8" style="overflow: hidden;">
      <p style="font-family: 'Lato',sans-serif;padding-left: 70px;color:white;font-size: 18px;" class="wow animated slideInLeft">Zyrix Music Website is a project built on MEAN stack. Napster api allows the user to fetch the musics and other details. The user can pin the song as its favourite and can go through
      the napsters top music play lists. This application allows user to get the list of trending musics all over the globle. User has to login to access its playlist and can play the songs in the anonymous mode.
      <br><br>
      <h2 style="font-family: 'Horizon',sans-serif;padding-left: 70px;color:white;overflow: hidden;font-size: 40px;"  class="wow animated slideInLeft">Members</h2><br><br>
      <h4 style="font-family: 'Horizon',sans-serif;padding-left: 70px;color:white;overflow: hidden;"  class="wow animated zoomIn" >Amit Singh Sansoya&nbsp;&nbsp;&nbsp;Kamal Singh Yadav&nbsp;&nbsp;&nbsp;Vipul Kumar&nbsp;&nbsp;&nbsp;Azeem Hussain</h4><br><br>
      <span style="font-family: 'Lato',sans-serif;padding-left: 70px;color:white;overflow: hidden;" class="wow animated flip" >Project for : Venture Pact
      &copy; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2018 All Rights Reserved.</span>
  </div>
</div>