<app-navbar></app-navbar>
<div class="container-fluid wow animated slideInUp backdash" data-wow-duration="1s" data-wow-delay="1s">
  </div>
  <div class="row" style="background-attachment: fixed; margin-right: 0px;margin-left: 0px; overflow: hidden;">
      <div class="col-sm-9" style="overflow: hidden">
        <img src={{picl}} style="margin-top: 10%;overflow: hidden;" class="wow animated zoomIn"><h1 style="font-family: 'Horizon',sans-serif;color:white;font-size: 50px;overflow: hidden;" class="wow animated slideInLeft" data-wow-duration="1s" data-wow-delay="1s">{{playlistname}}</h1>
          <div>
              <h1 class="wow animated zoomIn contenttop">
               <ul class="oper">
                <li class="animated zoomIn" *ngFor="let item of songs; let i = index" (click)="playme(i)">
                  <img src="http://direct.napster.com/imageserver/v2/albums/{{albumid[i]}}/images/300x300.jpg" class="metama animated zoomIn">
                  <div class="overlay"></div>
                  <h3>{{songs[i]}}</h3>
                  <h6>{{artistname[i]}}</h6>
                </li>
              </ul>     
              </h1>
          </div>
      </div>
  </div>